.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

button {
  padding: 10px 20px;
  margin-right: 5vw;
  font-size: 16px;
  transition: all 1s;
}

button:hover {
  font-size: 18px;
  background-color: lightblue;
}

input[type="text"] {
  width: 40vw;
  padding: 10px 20px;
}
