.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

button {
  padding: 10px 20px;
  margin-right: 5vw;
  font-size: 16px;
  background-color: rgb(146, 208, 228);
  transition: all 1s;
  border-radius: 15px;
}

button:hover {
  font-size: 18px;
  background-color: rgb(102, 201, 234);
}

input[type="text"] {
  width: 40vw;
  padding: 10px 20px;
}
