<div class="container">
  <button (click)="openAddMode()">Adicionar</button>
  <button onclick="">Pesquisar</button>
  <input type="text" placeholder="pesquise sua fruta..." />
</div>

<div class="container-add" *ngIf="this.addMode">
  <input type="text" [placeholder]="" [(ngModel)]="newFruit.name" />
  <input type="text" [placeholder]="" [(ngModel)]="newFruit.season" />
  <input type="number" [placeholder]="" [(ngModel)]="newFruit.pricePerKg" />
  <button (click)="addFruit(this.newFruit)">Salvar</button>
</div>
